// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.articles {
  margin: 10px;
  padding: 10px;

  h1 {
    color: #730E15;
  }

  .grid {
    border: 1px solid yellowgreen;
    margin: 10px;
    padding: 30px;
  }
}
